.item-color .colors-content .alice, .widget-colors .colors-content .alice {
  background-color: #d1d9ed;
}

.item-color .colors-content .gold, .widget-colors .colors-content .gold {
  background-color: #F9BC04;
}

.item-color .colors-content .blue, .widget-colors .colors-content .blue {
  background-color: #1CBEFE;
}

.item-color .colors-content .purple, .widget-colors .colors-content .purple {
  background-color: #9560F5;
}

.item-color .colors-content .salmon, .widget-colors .colors-content .salmon {
  background-color: #7F5122;
}

.item-color .colors-content .olive, .widget-colors .colors-content .olive {
  background-color: #90B414;
}

.item-color .colors-content .orangered, .widget-colors .colors-content .orangered {
  background-color: #FC222F;
}

.item-color .colors-content .deeppink, .widget-colors .colors-content .deeppink {
  background-color: #E50051;
}

.item-color .colors-content .chartreuse, .widget-colors .colors-content .chartreuse {
  background-color: #3FAF6C;
}

.item-color .colors-content .chocolate, .widget-colors .colors-content .chocolate {
  background-color: #FF6C00;
}

.item-color .colors-content .black, .widget-colors .colors-content .black {
  background-color: #1A1A1A;
}

.item-color .colors-content .dodgerblue, .widget-colors .colors-content .dodgerblue {
  background-color: #3851BC;
}
